body {
  position: relative;
  background: black;
  background-image: url("https://image.freepik.com/free-vector/dark-damask-seamless-pattern-background-elegant-luxury-texture-wallpapers_1217-1174.jpg");
}

body::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgb(12, 26, 66, 0.75);
}

#proficiencies,
#projects {
  color: white;
}

#homeText > a {
  color: #000c40 !important;
  font-size: 25px;
}

.techStacks {
  color: white;
}

.bg,
.overlay,
.heading,
.techStacks,
.contactCard {
  background-color: #000000;
  background-image: linear-gradient(
    147deg,
    #f0f2f0 0%,
    #0c2461 51%,
    #f0f2f0 100%
  );
}

.projectHead {
  background: #3354a8;
  border-radius: 20px;
}

.bgHead {
  background-color: #000000;
  background-image: linear-gradient(
    147deg,
    #000c40 0%,
    #f0f2f0 5%,
    #000c40 12%,
    #f0f2f0 95%
  );
  /* background-image: linear-gradient(147deg, #f0f2f0 0%, #0c2461 70%, #f0f2f0 82%); */
}

.techStacksHead > .row,
.stats > .row,
.contactMe > .row,
.socialIcons > .fab {
  color: whitesmoke;
}

.lightWaves {
  display: none;
}

.darkPeaks {
  display: block;
}
