#proficiencies,#projects {
    color: white;
}



.container-fluid,.black{
    background:black;
}
  
#homeText > a {
    color: #000c40 !important;
    font-size: 25px;
}

.techStacks {
    color: white;
}

.bg,
.overlay,
.heading,
.techStacks,
.contactCard {
  background-color: #000000;
  background-image: linear-gradient(147deg, #f0f2f0 0%, #0c2461 51%, #f0f2f0 100%);

}

.bgHead{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000c40 0%, #f0f2f0 70%, #000c40 82%);
    /* background-image: linear-gradient(147deg, #f0f2f0 0%, #0c2461 70%, #f0f2f0 82%); */
}

.techStacksHead > .row, .stats > .row, .contactMe > .row, .socialIcons > .fab {
    color:whitesmoke;
}
