.techStacks {
    background-color: #000000;
    background-image: linear-gradient(147deg, #22a6b3 0%,#7ed6df 50%, #38ada9 74%);
    color: white;
}
.headColor {
    /* color: #e91e63; */
    color:#B33771;
}

.proficient + div {
    /* color: darkmagenta; */
    color:#B33771;
    font-size: 20px;
}

#homeText > a {
    color: white;
}

.bg,
.bgHead,
.overlay,
.heading,
.contactCard {
  background-color: #000000;
  /* background-image: linear-gradient(147deg, #000000 0%, #04619f 74%); */
      background-image: linear-gradient(147deg, #22a6b3 0%,#7ed6df 50%, #38ada9 74%);
}

.contact {
    color: greenyellow;
    font-weight: bold;
}

.usedTech {
    color: #fdfc47;
}

.contactLight {
    /* color: #04619f; */
    color:#00cec9;
}

.icon {
    color:white;
}